<!DOCTYPE html>
<html>
<head>
  <title>Hiptime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "Hiptime", root_path, class: "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user.present? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log In", new_user_session_path %></li>
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% end %>	
			</ul>
			<% if user_signed_in? %>
				<%= link_to "Create Item", new_item_path, class: "navbar-text navbar-link" %>
			<% end %>
		</div>
	</nav>

	<% flash.each do |type, message| %>
		<div class="alert <%= bootstrap_class_for(type) %> alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <%= message.html_safe %>
		</div>
	<% end %>
	<!-- <div class="alert alert-success" role="alert"><%= notice %></div>
	<div class="alert alert-warning" role="alert"><%= alert %></div>
 -->
	<div class="container">
	<%= yield %>
	</div>

</body>
</html>
